.pro {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding: 100px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-top: 40px;
}

.titulo {
    display: flex;
    justify-content: center;
    padding: 20px;
    text-decoration: underline;
}

.bienvenidos {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    height: auto;
    padding: 100px;
}