.pro {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding: 100px;
}

.titulo {
    display: flex;
    justify-content: center;
    padding: 20px;
    text-decoration: underline;
}

.bienvenidos {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    height: auto;
    padding: 100px;
}