/*footer redes*/
.redes {
    display: flex;
    justify-content: space-around;
    padding: 2%;
    background-color: rgb(239, 233, 233)
}

.whap {
    color: rgb(5, 172, 5);
}

.insta {
    color: rgb(102, 39, 39);
}

/*boton ver mas de la pagina productos*/
.texto {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.boton2 {
    text-decoration: none;
}